@using BugTracker.Data.Enums 
@model ICollection<EmployeeViewModel>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="ProjectOptions" asp-action="CreateWorkItem">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Name</label>
                            <input type="text" name="workItemName" class="form-control" id="inputName" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputProject">Type</label>
                            <select name="workItemType" id="inputProject" class="form-control">
                                <option value="" disabled selected>Select type</option>
                                @foreach (var type in Enum.GetValues(typeof(WorkItemType)))
                                {
                                <option value="@type">@type</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputProject">Type</label>
                            <select name="workItemStatus" id="inputProject" class="form-control">
                                <option value="" disabled selected>Select type</option>
                                @foreach (var status in Enum.GetValues(typeof(WorkItemStatus)))
                                {
                                    <option value="@status">@status</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAssign">Assign Task To</label>
                            <select name="assignToUserEmail" id="inputAssign" class="form-control">
                                <option value="" disabled selected>Assign to</option>
                                @foreach (var employee in Model)
                                {
                                    <option value="@employee.UserEmail">@employee.UserEmail</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        width: 100%;
        height: 100%;
    }
</style>