@{
    var list = new List<string>();
    list.Add("0");
    list.Add("1");
    list.Add("2");
    list.Add("3");
    list.Add("4");
    list.Add("5");
    list.Add("6");
    list.Add("7");
    list.Add("8");
    list.Add("9");
    list.Add("10");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");

}
@model WorkItemsViewModel
<table id="example" class=" table table-hover q-table-open-task">
    <caption class="h6">
        <a class="q-caption-create-task dropdown-item btn" data-toggle="modal" data-target="#exampleModalCenter">
            + Create new task
        </a>
    </caption>
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">ID</th>
            <th scope="col">Project</th>
            <th scope="col">TaskName</th>
            <th scope="col">Status</th>
            <th scope="col">Assigne to</th>
            <th scope="col">Start date</th>
            <th scope="col">Finish date</th>
            <th scope="col">Create by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workItem in Model.WorkItemsViewModels)
        {
            <tr onclick="location.href = '@(Url.Action("ShowWorkItem", "ProjectOptions",new {taskId = workItem.Id.ToString()}))'">
                @if (workItem.Type == BugTracker.Data.Enums.WorkItemType.Bug)
                {
                    <td><i class="fa-solid fa-bug "></i> @workItem.Type</td>
                }
                else if (workItem.Type == BugTracker.Data.Enums.WorkItemType.Feature)
                {
                    <td><i class="fa-solid fa-trophy f-left"></i> @workItem.Type</td>
                }
                else
                {
                    <td>&nbsp;<i class="fa-solid fa-clipboard-check"></i> @workItem.Type</td>
                }
                <th scope="row">@workItem.Id</th>
                <td>@workItem.Project.Name</td>
                <td>@workItem.Name</td>
                <td>@workItem.Status</td>
                <td>@(workItem.AssignToUser == null ?workItem.AssignToUserId : workItem.AssignToUser.UserName)</td>
                <td>@workItem.CreatedOn</td>
                <td>@(workItem.FinishDate == default(DateTime) ? "Not set" : workItem.FinishDate)</td>
                <td>@(workItem.CreateByUser == null ? workItem.CreateByUserId : workItem.CreateByUser.UserName)</td>
                <td><a asp-controller="ProjectOptions" asp-action="ShowWorkItem" asp-route-taskId="@workItem.Id.ToString()" class="q-caption-create-task"><i class="fas fa-edit"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/Remove" class="q-caption-create-task"><i class="fas fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Shared/PartialViews/projectOptions/WorkItems/_CreateTaskModalPartial.cshtml" model="@Model.WorkItemsNavbarViewModel.EmployeeViewModels" />

